@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$blue:         #068bad;
$brand-primary: $blue;
$red: #e52425;
$black:#000;
//$link-color:    #fff!important;
//$brand-danger: #e52425;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$btn-active-box-shadow: none;
$input-focus-width: 0;
$btn-padding-x-lg:15px;
$margin-top:20px;
$margin-bottom:20px;

button{
  border:none;
  border-radius:7px;
}
header,.row{
  margin-top:$margin-top;
  margin-bottom:$margin-bottom;
}
footer{
  background:$blue;
}
$types : h6 h5 h4 h3 h2 h1;
$base-size : 16px;

$modular-scale : 0.5;
$class-slug:"widget";
@each $type in $types{
  .#{$class-slug} #{$type} {
    color:$black;
  }
}
@import "../src/bootstrap/bootstrap";
