/*
Theme Name: Future Ed
Author: TWMG team
Author URI:
Description: this is build by twmg team for future Ed
Version: 0.1
Text Domain: twentyseventeen
Tags: one-column, two-columns

The theme is specially designed for future ed
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
/*body*/
body{
    font-family:"Open Sans",serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight:700;
    color:#000;
}

::-webkit-input-placeholder{
    color:#000;
}

/*Bootstrap Override*/
.input-group-text{
    background-color:#fff;
    width:100%;
    text-align:left;
    color:#000;
    border:0;
    border-radius:0;

}
/*Registration Body*/
.register_page article{
    background:#eceaea;
    padding:0 30px;
}
.register-custom-icon .fa-circle{
    color:#068bad;
}
.register_page .logo{
    position: absolute;
    top:15px;
    left:55px;
    z-index:99;
}

/*Registration Sidebar*/
.register_page aside{
    background:#d9d9d9;
    padding:0 30px;
}

.register .widget{
    position:relative;
}
.register_page .register_sidebar .widget-title{
    margin:0 -30px;
    padding:15px 30px;
    background-color:#c4c2c2;
    color:#068bad;
}
.register_page .widget-title{
    color:#068bad;
}
.register_page aside .form-control{
    background-color:unset;
    padding-left:0;
    padding-right:0;
    border:none;
}

.register_sidebar .textwidget{
    margin-top:25px;
}
.register_page input:-moz-read-only { /* For Firefox */
    background-color: #c4c2c2;
}

.register_page input:read-only {
    background-color: #c4c2c2;
}
.register_page label{
    color:#000;
}
.register_page .wpcf7-radio{
    color:#000;
}
.register_page aside .wpcf7-radio>.first{
    margin:0;
}
.register_page aside .no-marg>span{
    display:block;
    margin:0;
}
.register_page .btn{
    border-radius: 0;
    width:100%;
    padding:15px 0;
    font-weight:bold;
}
/*Thank YOu Page*/
.img-container{
    margin:0 -30px;
    position:relative;
}
.img-container .page_title{
    position:absolute;
    color:#fff;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:60px;
}
.img-container>img{
    width:100%;
    height:auto;
}
.thank_page .content{
    padding:90px 60px;
}
/*Footer*/
footer{
    color:#fff;
    background-color:#959595;
    padding:5px 0;
}

footer p{
    margin-bottom:0;
}
/*Custom Range*/
@media only screen and (max-width:991px){
    .register_page .logo img{
        width:100%!important;
        height:auto!important;
        left:25px;

    }
    .register_page .logo{
        width:25%;
    }
}
@media only screen and (max-width:767px){
    .img-container .page_title{
        font-size:30px;
    }
    .register_page .entry{
        display:flex;
        flex-wrap:wrap;
    }
    .register_page p.mb_btm{
        order:1;
    }
    .register_page>aside.register_sidebar{
        display:none;
    }
}
